<!DOCTYPE html>
<!-- 타임리프를 사용하기 위해서는 html 태그에 다음과 같이 추가해준다. -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>list2.html (ArrayList에 담긴 객체 출력)</title>
<link rel="icon" href="image/house.ico">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<style type="text/css">
.target {
	color: green;
	font-weight: bold;
}

caption {
	caption-side: top;
}
</style>
</head>
<body>
	<div class="container">
		<table class="table table-striped table-bordered">
			<caption>모든 요소 출력</caption>
			<tr>
				<td>순서</td>
				<td>id</td>
				<td>password</td>
			</tr>
			<tr th:each="dto, state : ${list}">
				<td>[[${state.count}]]</td>
				<td>[[${dto.id}]]</td>
				<td>[[${dto.password}]]</td>
			</tr>
		</table>
		
		<table class="table table-striped table-bordered">
			<caption>특정 조건에 맞는 요소 출력</caption>
			<tr>
				<td>순서</td>
				<td>id</td>
				<td>password</td>
			</tr>
			<tr th:each="member, state : ${list}" th:if="${member.id == 'user1'}">
				<td>[[${state.count}]]</td>
				<td>[[${member.id}]]</td>
				<td>[[${member.password}]]</td>
			</tr>
		</table>
		
		<table class="table table-striped table-bordered">
			<caption>state 속성들</caption>
			<tr>
				<td>state.index:현재 반복되고 있는 요소의 인덱스(0부터 시작)</td>
				<td>state.count:현재까지의 반복 횟수(1부터 시작)</td>
				<td>state.size:반복되고 있는 컬렉션의 크기</td>
				<td>state.current:현재 반복되있는 요소(toString을 구현하여야 함)</td>
			</tr>
			<tr th:each="member, state : ${list}">
				<td>[[${state.index}]]</td>
				<td>[[${state.count}]]</td>
				<td>[[${state.size}]]</td>
				<td>[[${state.current}]]</td>
			</tr>
		</table>
		
		<table class="table table-striped table-bordered">
			<caption>모든 요소 출력 및 특정 조건 class 속성 주기</caption>
			<tr>
				<td>순서</td>
				<td>id</td>
				<td>password</td>
			</tr>
			<tr th:each="member, state : ${list}"
				th:class="${state.index % 3 == 1} ? 'target'">
				<td>[[${state.count}]]</td>
				<td>[[${member.id}]]</td>
				<td>[[${member.password}]]</td>
			</tr>
		</table>
	</div>
</body>
</html>