<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>list1</title>
<link rel="icon" href="image/house.ico">
<link rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<table class="table table-striped table-bordered">
			<tr>	
				<td>id</td>
				<td>password</td>
			</tr>
			<!-- 
					Thymeleaf 에서 디렉티브는 템플릿 엔진에게 특정 동작을 수행하도록 지시하는 지시문이나 명령어입니다.
					 이 디렉티브는 HTML 태그의 속성 형식으로 작성되며, th: 접두사로 시작합니다.
					th:each 디렉티브를 통해 반복을 처리합니다.
					 사용 예) th:each="변수 : ${list}"
			 -->
			 <tr th:each="member : ${list}">
			 	<td>[[${member.id}]]</td>
			 	<td>[[${member.password}]]</td>
			 </tr>
		</table>
	</div>
</body>
</html>