<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>th:if 조건에 만족하면 태그가 나타나고 만족하지 않으면 안 나타난다.</title>
<link rel="icon" th:href="@{/image/house.ico}">
<link rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<style>
.gray {color: gray;}
</style>
</head>
<body>
<div class="container">
	<!-- 게시글이 있는 경우 -->
	<div class="center-block">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:if="${page <= 1}">
				<a class="page-link gray">이전&nbsp;</a>
			</li>
			<li class="page-item" th:if="${page > 1}">
				<a th:href="@{'paging?page=' + ${page-1}}"
				   class="page-link">이전&nbsp;</a>
			</li>
			<li th:class="${a == page} ? 'page-item active' : 'page-item'"
				th:each="a : ${#numbers.sequence(startpage, endpage)}">
				<a th:href="${a == page} ? '' : 'paging?page=' + ${a}"
				   class="page-link">
				   <span th:text="${a}"></span>
				</a>
			</li>

			<li class="page-item" th:if="${page >= maxpage}">
				<a class="page-link gray">&nbsp;다음</a>
			</li>
			<li class="page-item" th:if="${page < maxpage}">
				<a th:href="@{'paging?page=' + ${page+1}}"
				   class="page-link">&nbsp;다음</a>
			</li>
		</ul>
	</div>
</div> <!-- <div class="container"> end -->
</body>
</html>